$main-color: #00d1b2;
$counter-color: #DEC0F1;

body {
  background-color: #efefef;
}

.strong {
  font-weight: 900;
}

.primary-bg {
  background-color: hsl(171, 100%, 41%);
}

.mt-1 {
  margin-top: 2em;
}

.mt-4 {
  margin-top: 8em;
}

.updated-at {
  margin-left: 2em;
  margin-right: 1em;
}

.news-item {
  transition: all 0.3s ease-in;
  &--is-done {
    background-color: #efefef;
    opacity: 0.5;
    height: 60px;
    overflow: hidden;
  }
}

.spinner {
  display: block;
  width: 20%;
  margin: 2em auto;
}

.center, .centered {
  text-align: center;
}

.full-height {
  height: 100vh;
}

.contributors .hidden-list {
  display: none;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.overview-section {
  margin-bottom: 2em;
}

.search-form {
  display: flex;
  flex-direction: column;

  button[type="submit"] {
    max-width: 10em;
    margin-top: 0.5em;
  }
}

.pr-card {
  list-style-type: circle;
  margin-bottom: 0.5em;
}

.pr-title {
  font-weight: 700;
}
