<span data-test-clipboard-text id="clipboard">
  {{yield}}
</span>

<EsButton @type="button" @secondary={{true}} @onClicked={{this.copyText}} data-test-button="Copy to Clipboard">
  Copy to Clipboard
</EsButton>