<span data-test-clipboard-text id="clipboard">
  {{yield}}
</span>

<button
  class="button is-small is-primary"
  data-test-button="Copy to Clipboard"
  type="button"
  {{on "click" this.copyText}}
>
  Copy to Clipboard
</button>