<span
  class="copy-field"
  data-test-clipboard-text
>
  {{yield}}
</span>

<button
  class="button is-small is-primary {{@buttonClass}}"
  data-test-button="Copy to Clipboard"
  type="button"
  {{on "click" this.copyText}}
>
  <span class="icon"><i class="fa fa-pencil"></i></span>
</button>